<h5>Por País</h5>
<form (ngSubmit)="buscar(termino)">
    <input 
        type="text"
        class="form-control"
        placeholder="Buscar gifs..." 
        name="nuevo"
        [(ngModel)]="termino"
    >
</form>


<div class="alert alert-danger" *ngIf="error!=''">
    No se encontró nada con el término {{termino}}
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th> # </th>
            <th> Bandera </th>
            <th> Nombre </th>
            <th> Población </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pais of results"> <!-- Esto es lo que tenemos que repetir por cada país que encuentre -->
            <td> {{results.indexOf(pais)+1}} </td> <!-- Aquí obtendremos el número de resultado -->
            <td>
                <img class="small-flag" [src]="pais.flag" > <!-- Aquí obtendremos la url de la bandera --> 
            </td>
            <td> {{pais.capital}}, {{pais.name}} </td> <!-- La capital, el nombre del país y la población lo obtendremos de la api -->
            <td> {{pais.population}}</td>
            <td>
                <!-- <a  [routerLink]="['/routePath']" >Ver...</a> Esto lo dejamos así de momento -->
            </td>
        </tr>
    </tbody>
</table>

