<div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light">
        Búsquedas
    </h3>
    <hr class="text-white" />
    <div class="list-group list-reset">
        <a class="list-group-item list-group-item-action"  href="http://localhost:4200/">
            Buscar país
        </a>  
        <a class="list-group-item list-group-item-action"  href="http://localhost:4200/region">
            Por region
        </a> 
        <a class="list-group-item list-group-item-action"  href="http://localhost:4200/capital">
            Por capital
        </a>   
    </div>
</div>
